@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

.con {
    width: 100vww;
    height: auto;
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #15dde8;
    margin: 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
    padding: 5px;
}

